@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0)
}

a:visited {
    color: reset;
}